SUPABASE_URL=https://gbucaafkdssbldqndhog.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdidWNhYWZrZHNzYmxkcW5kaG9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0MTM4MDYsImV4cCI6MjEwMjk4OTgwNn0.1BRXlI2bD071fDEGHmkzb8nTB5azV_bKAnlhOvRP3QQ
SUPABASE_PROJECT_REF=gbucaafkdssbldqndhog
